.breadcrumbsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbHomeIcon {
  vertical-align: middle;
  display: inline-block;
}

.copyLLMButton {
  flex-shrink: 0;
  margin-left: 0.75rem;
  white-space: nowrap;
}
